/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}
nav{
  background-color:transparent;
}
.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height:0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

body {

  background: url("../images/black.jpeg");
  font-family: 'Limelight', cursive;
  background-repeat: no-repeat;
  background-size:cover;
 
}

/* h4 {
  color: white;
} */

h5{
  color: white;
}

p{
  font-family: 'Raleway', sans-serif;
}

.nav-wrapper {
  width: 100%;

}

.material-icons {
  color: white;
}

#nav-mobile {
color: white;
}

.white {
  background: black;
}
.material-icons{
  color: darkgrey;
}
#searchBar{
  margin:left;
}
#movieInfo{
  text-align:center;
  color:black;
  font-size:25px;
}
<<<<<<< HEAD

video {
  width: 800px;
=======
#movieTitle

video{
  width:800px;
>>>>>>> 256c9c85c0cbeed3a7d0a01ac7032f327178976f
}

#movieInfo{
  text-align:center;
  color:white;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}