nav ul a,
nav .brand-logo {
  color: ghostwhite;
}

p {
  line-height: 2rem;
}
nav{
  background-color:transparent;
}
.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height:0;
  height: auto;
}
  .parallax-container .section {
    width: 100%;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

body {
<<<<<<< HEAD
=======

>>>>>>> 0b54447733d79ad4c62ac571522f6db46627ab3d
  background: url("../images/backgrounds/darkness.png");
  font-family: 'Limelight', cursive;
}

section{
  margin: auto;
}

h1{
  color: ghostwhite;
}

h5{
  color: white;
  font-family: 'Limelight', cursive;
}

#searchPlot{
  color: black;
} 

p{
  font-family: 'Raleway', sans-serif;
}

.nav-wrapper {
  width: 100%;
}

#nav-mobile {
color: white;
}

<<<<<<< HEAD
.white {
  background: black;
}

=======
>>>>>>> 0b54447733d79ad4c62ac571522f6db46627ab3d
.material-icons{
  color: ghostwhite;
}

#videoIcon{
  color: ghostwhite;
}

#videoIcon:hover{
color: red;
}

#searchBar{
  margin: auto;
}

#search-button{
background: ghostwhite;
color: black;
font-family: 'Raleway', sans-serif;
font-weight: bold;
}

#search-button:hover{
  background: red;
  color: ghostwhite;
  }

  #card2{
    width: 400px;
    height: 600px;
  }

.card{
  background: rgba(0, 0, 0, 0.473);
}

.card-title{
  color: ghostwhite;
}

#movieTitle{
  font-size: 16px;
}
.card-reveal p{
  color: black;
  font-family: 'Raleway', sans-serif;
}
<<<<<<< HEAD

#movieInfo{
  text-align:center;
  color:black;
  font-size:25px;
}

#dots {
  color: darkgrey;
=======
#title{
  font-weight: bold;
>>>>>>> 0b54447733d79ad4c62ac571522f6db46627ab3d
}

#dots:hover {
  color: red;
}

#closeX{
  color: darkgrey;
}

#closeX:hover{
  color: red;
}

video {
  width: 800px;
}

#movieInformation {
  color: black;
}
#movieInformation2 {
  color: black;
}
#movieInformation3 {
  color: black;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}