/*====================BACKGROUND START========================*/
html {
    background: url("../images/backgrounds/background-film.jpg");
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
/*================BACKGROUND END=============================*/

/*BODY START*/
body {   
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Limelight', cursive;
  }
/*==================BODY END================================*/


/*============CONTENT START===============================*/

header{
    color: ghostwhite;
    margin: auto;
}

h6{
    font-family: 'Raleway', sans-serif;
}
main {
  flex: 1 0 auto;
}

.card-panel{
    width: 75%;
    margin-left: 25%;
    margin-top: 5%;
    background: inherit;
    color: ghostwhite;
}

.enter-button{
    margin-left: 45%;
    
}

.btn-large{
    background: black; 
}
.btn-large:hover{
    background: red;
}

.page-footer{
    background: transparent;
}

#webTicker{
    /* border: 2px solid ghostwhite; */

}

/*============CONTENT END===============================*/